/java lab/PartA6/build/
/java lab/PartA8/nbproject/private/
/java lab/PartA8/build/
/java lab/WebApplication1/nbproject/private/
/java lab/WebApplication1/build/
/java lab/PartB1/nbproject/private/
/java lab/PartA5/nbproject/private/
/java lab/PartA5/build/
/java lab/PartA7/nbproject/private/
/java lab/PartA7/build/
/java lab/PartA7/dist/
/java lab/PartB1/build/
/java lab/PartB6/nbproject/private/
/java lab/PartB6/build/
/java lab/PartB7/nbproject/private/
/java lab/PartB7/build/
/java lab/PartA1/nbproject/private/
/java lab/PartA1/build/
/java lab/PartA2/nbproject/private/
/java lab/PartA2/build/
/java lab/PartA3/nbproject/private/
/java lab/PartA4/nbproject/private/
/java lab/PartA4/build/
/java lab/PartA6/nbproject/private/
/java lab/PartB2/nbproject/private/
/java lab/PartB4/nbproject/private/
/java lab/Partb/nbproject/private/
/java lab/PartB3/nbproject/private/
/java lab/PartB3/build/
/java lab/PartB4/build/
/java lab/PaartB6/nbproject/private/
/java lab/PaartB6/build/
/java lab/PartB8/nbproject/private/
/java lab/PartB8/build/