/java lab/PartA6/build/
/java lab/PartA8/nbproject/private/
/java lab/PartA8/build/
/java lab/WebApplication1/nbproject/private/
/java lab/WebApplication1/build/
/java lab/PartB1/nbproject/private/
/java lab/PartA5/nbproject/private/
/java lab/PartA5/build/
/java lab/PartA7/nbproject/private/
/java lab/PartA7/build/
/java lab/PartA7/dist/
/java lab/PartB1/build/
/java lab/PartB6/nbproject/private/
/java lab/PartB6/build/
/java lab/PartB7/nbproject/private/
/java lab/PartB7/build/
